.main-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e0e0e; /* Color de fondo oscuro */
  color: #ffffff; /* Color de texto blanco */
  overflow-y: auto; /* Permitir el desplazamiento vertical */
  font-family: sans-serif;
}

.menu-content {
  position: absolute;
  font-family: sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.danfo-uniquifier {
  font-family: "Danfo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: bold;
  font-variation-settings:
    "ELSH" 0;
}

.button {
  width: 420px;
  height: 75px;
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  background-color: #000000;
  color: #ffffff;
}
.top-menu {
  position: fixed;
  top: 35px;
  left: 0;
  right: 0;
  height: 60px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 999;
}

.top-menu .logo {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.top-menu .menu-items {
  display: flex;
  align-items: center;
}

.top-menu .menu-items li {
  list-style: none;
  margin-left: 20px;
}

.top-menu .menu-items li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.top-menu .menu-items li a:hover {
  color: #ff0000;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container .button {
  width: 420px;
  height: 75px;
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 10px;
}

.button-container .button:hover {
  background-color: #000000;
  color: #ffffff;
}

.matrix-table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 75%;
  background-color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.matrix-table td {
  border: 1px solid #ddd;
  padding: 2px;  /* Reducir el padding para hacer la tabla más compacta */
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 12px;  /* Reducir el tamaño de fuente */
}

.matrix-table tr:nth-child(even) {
  background-color: #413737;
}

.matrix-table tr:hover {
  background-color: #ddd;
}

.matrix-table th {
  padding-top: 4px;  /* Reducir el padding superior e inferior */
  padding-bottom: 4px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

@media (max-width: 768px) {
  .menu-content {
    width: 90%; /* Ajustar el ancho del contenido */
  }

  .button {
    width: auto; /* Permitir que el ancho sea automático para adaptarse al contenido */
  }

  .matrix-table {
    width: 100%; /* Hacer que la tabla ocupe todo el ancho del contenedor */
    font-size: 10px; /* Reducir el tamaño de fuente para hacer la tabla más compacta */
  }
  .main-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e0e0e; /* Color de fondo oscuro */
    color: #ffffff; /* Color de texto blanco */
    overflow-y: auto; /* Permitir el desplazamiento vertical */
    font-family: sans-serif;
    font-size: 50%; /* Reducir la letra un 50% */
  }
}